S3method(plot,mlpsa)
S3method(plot,psrange)
S3method(print,mlpsa)
S3method(print,psrange)
S3method(print,xmlpsa)
S3method(summary,mlpsa)
S3method(summary,psrange)
S3method(xtable,mlpsa)
export(difftable.plot)
export(geom_rug_alt)
export(getPropensityScores)
export(getStrata)
export(is.mlpsa)
export(loess.plot)
export(lsos)
export(missing.plot)
export(mlpsa)
export(mlpsa.circ.plot)
export(mlpsa.ctree)
export(mlpsa.difference.plot)
export(mlpsa.distribution.plot)
export(mlpsa.logistic)
export(psrange)
export(tree.plot)
import(proto)
import(xtable)
